body {
    flex-basis: 100%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(10, 170, 77, 0.918);
}
h1 {
    flex-basis: 100%;
    text-align: center;
    font-size: 50px;
}
input[type=number] {
    border-radius: 8px;
    border: solid gray 1px;
    padding: 8px 8px;
    box-sizing: content-box;
}
label, input {
    flex-basis: 20%;
    order: 3;
}
.Fahrenheit{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    max-width: 450px;

}





.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(12, 8, 19);
    color: white;
    text-align: center;
  }


